<?xml version="1.0"?>

<!-- Дополнительные сведения по использованию преобразования web.config см. по ссылке http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="AuthConnection" connectionString="Data Source=RP_COMP\SQLEXPRESS;Initial Catalog=Marafon;Integrated Security=SSPI;"/>
    <add name="MarafonConnection" connectionString="Data Source=RP_COMP\SQLEXPRESS;Initial Catalog=Marafon;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--
    В следующем примере преобразование "SetAttributes" будет изменять значение 
    "connectionString" с целью использования "ReleaseSQLServer", только когда указатель "Match" 
    находит атрибут "name", которое имеет значение "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>

    <globalization culture="ru-RU" uiCulture="ru"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Contacts.aspx" name="ASPXFORMSAUTHMARAFONCOOKIE" timeout="50000000" protection="All" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false"/>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>

    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <clear />
        <add name="CustomizedRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="AuthConnection"
             applicationName="/" />
      </providers>
    </roleManager>

    <membership defaultProvider="CustomizedMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="CustomizedMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             connectionStringName="AuthConnection"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <!--
      В следующем пример преобразование "Replace" будет заменять весь 
      раздел <customErrors> в файле web.config.
      Заметьте, поскольку имеется только один раздел customErrors в узле 
      <system.web>, не требуется использовать атрибут "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>